In [1]:
import pandas as pd

In [2]:
!g++ 10Task.cpp -O3 -march=native -ffast-math

In [3]:
!./a.out 1 1 N[0] M[0] L2

1.193969e-02 2.909018e-04

In [4]:
N = [10, 100, 1_000, 10_000]
M = [10, 100, 1_000, 10_000]

In [5]:
Mu = [0.1, 0.01, 0.001]
C = [1, 10, 100]
Norm = ["L2", "W", "C"]

In [6]:
table = pd.DataFrame(index=N, columns=M)

In [7]:
table[10][10]=3

In [8]:
print(table)

      10    100   1000  10000
10        3   NaN   NaN   NaN
100     NaN   NaN   NaN   NaN
1000    NaN   NaN   NaN   NaN
10000   NaN   NaN   NaN   NaN

In [9]:
Max = 3 * 3 * 3 * 4 * 4
cnt = 0

In [10]:
tables = []
description = []
cnt = 0

In [ ]:

for norm in Norm:
    for c in C:
        for mu in Mu:
            table1 = pd.DataFrame(index=N, columns=M)
            table2 = pd.DataFrame(index=N, columns=M)
            for n in N:
                for m in M:
                    residual = !./a.out $mu $c $n $m $norm
                    if len(residual) == 0:
                        residual = ["nan", "nan"]
                    else:
                        residual = residual[0].split(" ")
                    table1[n][m] = residual[0]
                    table2[n][m] = residual[1]
                    
                    
            print("Mu=", mu, "  C=", c, " ", norm, " H:")
            print(table1)
            print()
            
            print("Mu=", mu, "  C=", c, " ", norm, " V:")
            print(table2)
            
            print()
            print(cnt)
            print()
            cnt+=1
            
            tables.append(table1)            
            tables.append(table2)
            description.append("".join(["Mu=", str(mu), "  C=", str(c), " ", str(norm), " H:"]))
            description.append("".join(["Mu=", str(mu), "  C=", str(c), " ", str(norm), " V:"]))

Mu= [0.1, 0.01, 0.001]   C= [1, 10, 100]   L2  H:
              10            100           1000          10000
10     4.696012e-01  5.273774e-02  2.061029e-02  1.983687e-02
100    4.676729e-01  4.794685e-02  4.822147e-03  5.248298e-04
1000   4.676547e-01  4.793345e-02  4.807590e-03  4.810054e-04
10000  4.676542e-01  4.793332e-02  4.807479e-03  4.808928e-04

Mu= [0.1, 0.01, 0.001]   C= 1   L2  V:
              10            100           1000          10000
10     4.875196e-02  2.258236e-02  2.216811e-02  2.214678e-02
100    2.988319e-02  8.504889e-04  2.495879e-04  2.309446e-04
1000   2.970035e-02  7.253258e-04  6.949198e-05  7.547881e-06
10000  2.969852e-02  7.243288e-04  6.912976e-05  6.940393e-06

0

Mu= [0.1, 0.01, 0.001]   C= [1, 10, 100]   L2  H:
              10            100           1000          10000
10     4.693622e-01  5.309688e-02  2.166696e-02  2.094877e-02
100    4.680585e-01  4.801370e-02  4.828824e-03  5.282214e-04
1000   6.490445e-01  4.800133e-02  4.814649e-03  4.817075e-04
10000  5.836857e-01  4.800121e-02  4.814546e-03  4.816021e-04

Mu= [0.1, 0.01, 0.001]   C= 1   L2  V:
              10            100           1000          10000
10     5.029442e-02  2.354953e-02  2.311536e-02  2.309261e-02
100    3.087900e-02  1.037940e-03  2.684276e-04  2.431423e-04
1000   1.917698e+00  9.277028e-04  9.006968e-05  9.537925e-06
10000  4.204071e-02  9.268492e-04  8.974294e-05  8.992415e-06

1

Mu= [0.1, 0.01, 0.001]   C= [1, 10, 100]   L2  H:
              10            100           1000          10000
10     4.693392e-01  5.313843e-02  2.178340e-02  2.107080e-02
100    4.681079e-01  4.802108e-02  4.829571e-03  5.287424e-04
1000   2.101289e+05  4.800866e-02  4.815410e-03  4.817831e-04
10000  6.689137e+00  2.831079e+51  4.815307e-03  4.816785e-04

Mu= [0.1, 0.01, 0.001]   C= 1   L2  V:
              10            100           1000          10000
10     5.046303e-02  2.365315e-02  2.321639e-02  2.319345e-02
100    3.099334e-02  1.058706e-03  2.706002e-04  2.445016e-04
1000   1.048840e+01  9.495971e-04  9.228166e-05  9.755249e-06
10000  1.108761e+00  2.373660e+01  9.195584e-05  9.212892e-06

2

^C

In [170]:
tex = table.to_latex()

In [171]:
!./a.out 0.1 1 10 10 L2

4.696012e-01 4.875196e-02

In [21]:
"".join(["Mu=", str(Mu), "  C=", str(C), " ", str(norm), " H:"])

'Mu=[0.1, 0.01, 0.001]  C=[1, 10, 100] L2 H:'